.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 28px 20px 40px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 120px;
  }
}

.catalog__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 204px;
    margin-top: -120px;
  }
}

.catalog__container-price {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__img--tablet-small {
  @media (min-width: $tablet-width) {
    margin-top: 30px;
    width: 150px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    height: auto;
  }
}

.catalog__img--tablet-big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 201px;
  }
}

.catalog__list {
  min-height: 209px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 22px 20px;
  border-top: 1px solid $color-catalog-border;

  &:last-child {
    border-bottom: 1px solid $color-catalog-border;
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 324px;
    flex-wrap: wrap;
    padding: 38px 25px 37px;
    border: none;
    background-color: $basic-background;
    margin-bottom: 147px;

    &:last-child {
      background-color: $color-textw;
      border: 1px solid $color-border;
      display: flex;
      justify-content: stretch;
      margin-bottom: 0;
      padding: 60px 35px 38px;

      @media (min-width: $desktop-width) {
        margin-bottom: 143px;
      }
    }

    &:nth-last-child(2) {
      margin-bottom: 0;

      @media (min-width: $desktop-width) {
        margin-bottom: 143px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 143px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.catalog__button {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 13px 13px 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 12px 13px 0;
  }
}

.catalog__button-more {
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $color-catalog-border;
  }

  &:active {
    color: transparentize($color-form-text, 0.7);
  }
  margin-top: 21px;
  background-color: $basic-background;
  color: $color-form-text;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}

.catalog__subtitle-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 100%;
    width: 100%;
    padding: 0 45px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 0;
    margin-top: 7px;
  }
}

.catalog__text-more {
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
  }
}
