.main__catalog {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 28px 20px 40px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 120px;
  }
}

.catalog__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 35px;
    margin-top: -120px;
  }
}

.catalog__container-price {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__img--tablet-small {
  @media (min-width: $tablet-width) {
    margin-top: 30px;
    width: 150px;
    height: auto;
  }
}

.catalog__img--tablet-big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: auto;
  }
}

.catalog__list {
  min-height: 209px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 24px 20px;
  border-top: 1px solid $color-catalog-border;

  &:last-child {
    border-bottom: 1px solid $color-catalog-border;
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 324px;
    flex-wrap: wrap;
    padding: 39px;
    border: none;
    background-color: $basic-background;
    margin-bottom: 160px;

    &:last-child {
      background-color: $color-textw;
      border: 1px solid $color-border;
      display: flex;
      justify-content: stretch;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-right: 80px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.catalog__subtitle {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 76px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    margin: 0 auto 20px;
  }
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.container-price__list {
  display: flex;
  padding-top: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.container-price__item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border-special;
    padding: 10px;
  }
}

.catalog__button {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__button-more {
  &:hover,
  &:active {
    background-color: $color-catalog-border;
  }

  &:active {
    color: transparentize($color-form-text, 0.7);
  }
  margin-top: 21px;
  background-color: $basic-background;
  color: $color-form-text;

  @media (min-width: $tablet-width) {
   n align-self: flex-end;
  }
}

.catalog__subtitle-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}

.plus {
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  margin: 17px auto 37px;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 60px;

    &::before {
      width: 60px;
    }
  }
}

.subtitle__container {
  display: flex;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    display: block;
    margin: 0 auto;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.catalog__text-more {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
}

.additionally {
  padding-top: 27px;

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 110px;
    justify-content: space-between;
  }
}

.additionally__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;
    display: inline-flex;
    max-width: 100%;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  /* @media (min-width: $desktop-width) {
  } */
}

.additionally__list {
  padding: 34px 20px 36px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    padding: 0;
    padding-bottom: 86px;
  }
}

.additionally__item {
  border-top: 1px solid $color-border-special;
  padding: 13px 0 18px;

  &:last-child {
    border-bottom: 1px solid $color-border-special;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 37px 27px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
}

.additionally__container-price {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 15px;

  @media (min-width: $tablet-width) {
    width: 33%;
    justify-content: flex-end;
  }
}

.additionally__subtitle {
  color: $color-form-text_dark;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.additionally__text {
  @media (min-width: $tablet-width) {
    &:first-child {
      margin-right: 50px;
    }
  }
}

.additionally__text,
.additionally__text-price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-form-text;
  text-transform: none;
}

.additionally__button {
  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.gift {
  padding: 0 20px 12px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: auto;
    padding: 0;
  }
}

.gift__container {
  background-color: transparentize($basic-color, 0.15);
  text-align: center;
  height: 289px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 289px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 78px;
    height: 80px;
    background: url("../img/catalog/icon-gift.svg") no-repeat;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      left: 80px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 290px;
    z-index: -1;
    background-image: url("../img/catalog/gift-background-cat-mobile.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-background-cat-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      height: 200px;
      background-image: url("../img/catalog/gift-background-cat-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/gift-background-cat-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 289px;
      background-image: url("../img/catalog/gift-background-cat-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/gift-background-cat-desktop@2x.jpg");
      }
    }
  }
}

.gift__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: $color-textw;
  width: 170px;
  margin: 0 auto;
  padding-top: 189px;

  @media (min-width: $tablet-width) {
    margin: 0 125px 0 auto;
    padding: 70px 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 185px;
    margin: 0 auto;
    text-align: center;
  }
}
