.main__catalog {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 20px 40px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 120px;
  }
}

.catalog__container-img {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 35px;
    margin-top: -100px;
  }
}

.catalog__container-price {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__img {
  margin-top: 10px;
}

.catalog__list {
  min-height: 209px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border-top: 1px solid $color-catalog-border;

  &:last-child {
    border-bottom: 1px solid $color-catalog-border;
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 324px;
    flex-wrap: wrap;
    padding: 39px;
    border: none;
    background-color: $basic-background;
    margin-bottom: 140px;

    &:last-child {
      background-color: $color-textw;
      border: 1px solid $color-border;
      display: flex;
      justify-content: stretch;
    }
  }
}

.catalog__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 76px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    margin: 0 auto 20px;
  }
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.container-price__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.container-price__item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border-special;
    padding: 10px;
  }
}

.catalog__button {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__subtitle-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;

  /* &::before {
    content: "";
    display: block;
    margin: 25px auto;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  } */
}

.plus {
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  margin: 25px auto;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 60px;

    &::before {
      width: 60px;
    }
  }
}

.catalog__button-more {
  margin-top: 21px;
  background-color: $basic-background;
  color: $color-form-text;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}

.catalog__text-more {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
}

.additionally__title {
  font-weight: 400;
  font-size: 24px;
  width: 260px;
  line-height: 24px;
  text-transform: none;
}

.additionally__list {
  padding: 20px;
}

.additionally__item {
  border-top: 1px solid $color-border-special;
  padding: 10px 0 20px;

  &:last-child {
    border-bottom: 1px solid $color-border-special;
  }
}

.additionally__container-price {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px;
}

.additionally__subtitle {
  color: $color-form-text_dark;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.additionally__text,
.additionally__text-price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-form-text;
  text-transform: none;
}

.gift {
  padding: 20px;
}

.gift__container {
  background-color: $basic-color;
  text-align: center;
  min-height: 289px;
}

.gift__icon {
  margin: 58px 0 48px;
}

.gift__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: $color-textw;
  width: 160px;
  margin: 0;
}
