.copyright__logo {
  margin-left: 22px;
}

.copyright__logo use {
  fill: $color-social-stroke;
  stroke-width: 0.5px;
}

.copyright__link {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: $color-form-text;
  text-decoration: none;
  text-transform: none;

  &:hover .copyright__logo use {
    stroke: $basic-color;
    fill: $basic-color;
  }

  &:active .copyright__logo use {
    stroke: $basic-color;
    fill: $basic-color;
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}
