.example {
  background-color: $basic-background-example;
  padding: 26px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 30px;
    background-color: $basic-background;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0;
  }
}

.example__content-wrapper {
  @media (min-width: $tablet-width) {
    margin-top: -658px;
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px 11px;
    margin: -280px auto 0;
    max-width: $desktop-width;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.example__title {
  text-transform: none;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
  }
}

.example__text {
  margin: 34px 0 25px;
  font-family: "Arial", sans-serif;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 63px 0 53px;
    font-size: 16px;
    line-height: 24px;
    width: 97%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 147px;
    margin-bottom: 68px;
    width: 436px;
  }
}

.example__container {
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.results__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 52%;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: flex-start;
  }
}

.results__container {
  text-align: center;
  border: 1px solid $color-border-special;
  border-radius: 3px;
  min-height: 55px;
  padding: 13px 20px 0;
  width: 45%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 163px;
    min-height: 74px;
    padding: 15px 0 0;
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      margin-right: 42px;
    }
  }
}

.results__text {
  text-transform: none;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $color-form-text;
  transform: translate(-50%, 16px);
  background-color: $basic-background-example;
  width: 82px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;

  @media (min-width: $tablet-width) {
    padding: 5px 10px 0;
    transform: translate(-50%, 6px);
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    background-color: $color-textw;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-background;
  }
}

.results__amount {
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
  width: 83px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 130px;
  }
}

.example__spending-text {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 auto;
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-left: 0;
    width: 100%;
    margin-top: 55px;
  }
}

.spending-text__price {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-top: 4px;
    margin-left: 59px;
  }
}

.example__slider {
  margin: 0 auto;
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1/-4;
  }
}

.example__before-after-img {
  transform: translateX(-20px);

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
    transform: translateX(0);
  }

  @media (min-width: $desktop-width) {
    transform: translate(-6%, -2%);
    width: 690px;
    height: 656px;
  }
}

.example__button-container {
  margin: 30px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 39px 0 44px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: -91px;
    padding: 22px 70px 22px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 81px 22px 29px;
    margin-top: -116px;
  }
}

.example__button {
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text;

  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted transparentize($color-text, 0.85);
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid transparentize($color-text, 0.6);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.example__range {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 84px;
  height: 14px;
  background-color: $color-textw;
  border-radius: 6px;
  border: 1px solid $color-border-special;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $color-range-background;
    border: none;
  }

  @media (min-width: $desktop-width) {
    left: 47%;
    top: 29%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 6px;
    background-color: $basic-color;
    border-radius: 6px;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;

    @media (min-width: $tablet-width) {
      left: 50%;
      height: 36px;
      background-color: $color-textw;
      border-radius: 50%;
      border: 1px solid $color-border-special;
      transform: translate(-50%, -50%);
      box-shadow: 0 1px 3px transparentize($color-text, 0.84);
    }
  }

  &:hover::before {
    cursor: pointer;
    box-shadow: 0 2px 4px transparentize($color-text, 0.81);
  }

  &:active::before {
    border: 1px solid $basic-color;
    box-shadow: 0 3px 5px transparentize($color-text, 0.8);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $basic-color;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}
