.footer {
  background-color: $basic-background;
}

.footer__content-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px;
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.footer__logo {
  padding: 20px;
  text-align: center;
}

.footer__social {
  padding: 0 20px;
}

.socials__list {
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: 20px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__item {
  margin-right: 10px;
}

.footer__copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
  color: $color-text;
}
