.footer {
  background-color: $basic-background;

  @media (min-width: $tablet-width) {
    min-height: 150px;
    padding: 50px 30px;
    background-color: $basic-background;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    min-height: 120px;
  }
}

.footer__content-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 110px;
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.footer__content-wrapper--special {
  @media (min-width: $desktop-width) {
    padding: 61px 110px;
  }
}

.footer__social {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 33px;
  }
}

.footer__copyright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
