.main-title__container {
  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
  }
}

.main__title {
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding: 27px 20px 10px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px;
  }
}

.main__text {
  padding: 28px 20px 10px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
    width: 70%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.main__form {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.form__name,
.form__taget,
.form__contacts {
  border: none;
  border-bottom: 1px solid $color-border-fieldset;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__name,
.form__taget {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__contacts {
  padding-top: 27px;
  /* @media (min-width: $tablet-width) {
  } */

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.alignment {
  padding: 20px;
}

.form__name-list {
  color: $color-form-text;
  padding: 29px 20px 10px;

  @media (min-width: $tablet-width) {
    padding: 70px;
    padding-left: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.form__name-label {
  font-size: 16px;
  line-height: 18px;
}

.form__name-item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    height: 52px;
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }
}

.form__input-text,
.form__input-number {
  color: $color-form-text;
  border: 1px solid $color-border-input;
  font-size: 16px;
  line-height: 18px;
  padding: 12px;
  margin: 0 auto 0 15px;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px;
    margin: 0;
    margin-left: 13px;
  }
}

.form__input-number {
  padding-left: 16px;
}

.form__taget {
  padding: 0 20px;
  font-size: 16px;
  color: $color-form-text_dark;

  @media (min-width: $tablet-width) {
    padding: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px 70px 70px;
  }
}

.taget__list {
  padding: 27px 20px 24px 46px;

  @media (min-width: $tablet-width) {
    padding: 30px 30px 30px 100px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid $color-border-input;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
  }
}

.taget__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__taget-label {
  display: flex;
  align-items: center;

  &:hover .taget__radio {
    box-shadow: 0 0 0 1px $color-form-border;
  }
}

.form__input-radio {
  position: absolute;
  appearance: none;
}

.taget__radio {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 8px solid $color-textw;
  box-shadow: 0 0 0 1px $color-border-special;
  margin-left: -46px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    border: 11px solid $color-textw;
    margin-left: -60px;
  }
}

.form__input-radio:checked + .form__taget-label .taget__radio {
  background-color: $basic-color;
}

.form__input-radio:checked:disabled + .form__taget-label .taget__radio,
.form__input-radio:disabled + .form__taget-label .taget__radio,
.form__input-radio:disabled + .form__taget-label {
  opacity: 0.3;
  cursor: default;
}

.contacts__subtitle,
.comment__subtitle,
.other__subtitle {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 15px;
  width: min-content;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
    max-width: 100%;
    padding-left: 0;
  }
}

.contacts__subtitle {
  width: 203px;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.contacts__list {
  font-size: 16px;
  padding: 18px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.contacts__bag {
  min-width: 50px;
}

.contacts__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: $color-form-text;

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.contacts__input {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  padding: 10px 40px 10px 15px;
  margin: 0 auto 0 10px;
  width: 100%;
  border: 1px solid $color-border-special;
  text-transform: uppercase;
  color: $color-form-text;

  &:focus + .contacts__icon use {
    stroke: $basic-color;
    fill: $basic-color;
  }
}

.contacts__icon {
  fill: $color-form-text_dark;
  position: absolute;
  stroke: $color-form-text_dark;
}

.contacts__icon--email {
  right: 15px;
  top: 18px;
}

.contacts__icon--phone {
  right: 13px;
  top: 13px;
}

.form__comment,
.form__other {
  padding-top: 8px;
  border: none;

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  .subtitle__container {
    align-items: center;
  }
}

.comment__subtitle,
.other__subtitle {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.comment__text-area {
  padding: 10px 13px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  height: 153px;
  border: 1px solid $color-border-input;
}

.comment__wrapper {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__other {
  padding-top: 20px;
}

.other__list {
  padding: 3px 20px 10px 66px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0 10px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 120px 62px 170px;
    justify-content: space-between;
  }
}

.other__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 15%;
  }
}

.other__label {
  display: flex;
  align-items: center;

  &:hover .other__check-box {
    border: 1px solid $color-form-border;
  }
}

.other__input-checkbox {
  position: absolute;
  appearance: none;
}

.other__check-box {
  width: 30px;
  height: 30px;
  background-color: $color-textw;
  border: 1px solid $color-border-special;
  position: absolute;
  margin-left: -46px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-left: -60px;
  }
}

.other__input-checkbox:checked + .other__label .other__check-box {
  background: url("../img/form/checkbox-active.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    background-size: 36px 36px;
  }
}

.other__input-checkbox:checked:disabled + .other__label .other__check-box,
.other__input-checkbox:disabled + .other__label .other__check-box,
.other__input-checkbox:disabled + .other__label {
  opacity: 0.3;
  cursor: default;
}

.submit__container {
  padding: 5px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 110px 82px;
  }
}

.button__submit {
  display: block;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__desc {
  margin-top: 21px;
  text-transform: none;
  text-align: center;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    align-items: center;
    display: flex;
    margin: 0;
  }
}
