.heading {
  margin: 0 auto;
  color: $color-textw;
  min-height: 302px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;

    background: url("../img/index/index-background-mobile.jpg") no-repeat center,
      $basic-color;
    background-size: cover;
    min-height: 302px;
    display: block;
    width: 100%;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background: url("../img/index/index-background-mobile@2x.jpg") no-repeat,
        $basic-color;
      background-size: cover;
      background-position: center;
      min-height: 302px;
      display: block;
      width: 100%;
      z-index: -1;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 110px;
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.heading__container {
  min-height: 302px;
  position: relative;
  background-color: transparentize($basic-color, 0.15);

  @media (min-width: $tablet-width) {
    background-color: $color-textw;
    min-height: auto;
    width: 70%;
    padding-left: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.heading__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  margin: 0 auto;
  padding: 26px 20px 24px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    color: $color-text;
    font-size: 60px;
    line-height: 60px;
    padding: 30px 0;
    margin-bottom: 10px;
  }
}

.heading__slogan {
  @media (min-width: $tablet-width) {
    color: $color-text;
    font-size: 20px;
    line-height: 20px;
  }
}

.heading__img {
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    min-width: 709px;
    height: auto;
    transform: translateX(-50%);
    text-align: center;
    bottom: -527px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    min-width: auto;
    height: auto;
    top: 23px;
    left: 834px;
    z-index: 1;
  }
}

.heading__button-block {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.heading__button {
  margin: 138px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  text-decoration: none;
  line-height: 18px;
  color: $color-textw;
  background-color: $basic-color;

  &:hover {
    background-color: $basic-color2;
  }

  &:active {
    background-color: $basic-color2;
    color: transparentize($color-textw, 0.7);
  }

  @media (min-width: $tablet-width) {
    margin: 50px 0 560px;
    margin-top: 50px;
    text-align: center;
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 200px;
    margin-top: 52px;
  }
}
