.header {
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 42px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin: 0 auto;
    max-width: $desktop-width;
    position: relative;
  }
}

.header--index {
  @media (min-width: $desktop-width) {
    & .nav__link--current {
      border-bottom: 2px solid $color-textw;
    }

    & .nav__link {
      color: $color-textw;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 720px;
      height: 694px;
      top: 0;
      right: 0;
      z-index: 1;
    }

    &::before {
      background-image: url("../img/index/cat-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/cat-desktop@2x.jpg");
        background-size: cover;
      }
    }

    &::after {
      background-color: transparentize($basic-color, 0.15);
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 70px;
  padding: 0 20px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.logo {
  padding-left: 20px;
}

.logo__img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}

.nav {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 90px;
  }
}

.nav--nojs {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  order: 4;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: auto;
    margin-left: 90px;
  }
}

.nav--closed {
  display: block;
  text-align: center;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  transform: translate(0, -50%) scaleY(0);
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
    margin: 0;
    width: auto;
    margin-left: 90px;
  }
}

.nav--opened {
  position: absolute;
  top: 64px;
  left: 0;
  background-color: $color-textw;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 2;
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
    margin: 0;
    width: auto;
    margin-left: 90px;
  }
}

.menu__toggle {
  background-color: $color-textw;
  border: none;
  order: 3;
  transform: translateY(-8px);
  min-height: 65px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--nojs + .menu__toggle {
  cursor: default;
}

.nav--closed + .menu__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: $color-text;
  box-shadow: 0 8px 0 0 $color-text, 0 16px 0 0 $color-text;
}

.nav--opened + .menu__toggle {
  transform: translateY(0);

  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: $color-text;
  }

  &::before {
    position: absolute;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__item {
  border-top: 1px solid $color-border;
  height: 66px;
  padding-top: 23px;

  &:last-child {
    border-bottom: 1px solid $color-border;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 5%;

    &:last-child {
      border-bottom: none;
      margin-right: 0;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: $color-text;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

.nav__link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-color;
  }
}
