.heading {
  margin: 0 auto;
  color: $color-textw;
  min-height: 302px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px;
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.heading__container {
  min-height: 302px;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    background-color: $color-textw;
    min-height: auto;
    width: 54%;
    padding-left: 117px;
  }
}

.heading__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  margin: 0 auto;
  padding: 30px 20px;

  @media (min-width: $tablet-width) {
    color: $color-text;
    font-size: 60px;
    line-height: 60px;
    padding: 30px 0;
    margin-bottom: 40px;
  }
}

.heading__slogan {
  @media (min-width: $tablet-width) {
    color: $color-text;
  }
}

.heading__button-block {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 117px;
  }
}

.heading__button {
  margin: 138px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  text-decoration: none;
  line-height: 18px;
  color: $color-textw;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    margin: 50px 0 500px;
    margin-top: 50px;
    text-align: center;
    width: 244px;
    min-height: 54px;
  }
}
