.nutrition-program {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.nutrition-program__list {
  list-style: none;
  padding: 0 20px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: -34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 5%;
    padding: 0 110px;
  }
}

.nutrition-program__item {
  margin-top: 23px;
  padding: 30px 20px 0;
  background-color: $basic-background;
  display: grid;
  grid-template-columns: 71px 1fr 1fr;
  align-items: center;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 57% 1fr;
    padding: 75px 53px 50px;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.nutrition-program__subtitle {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  grid-column: 2/-1;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    padding-left: 0;
    margin-bottom: 27px;

    font-size: 36px;
    line-height: 36px;
  }
}

.nutrition-program__img-container {
  margin: auto 0 21px 5px;
  background-color: $basic-color;
  width: 50px;
  height: 53px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    grid-row: 1/4;
    grid-column: 2/-1;
    margin: 10px 8px 21px auto;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 60px;
    width: 100px;
    height: 100px;
  }
}

.nutrition-program__img--slim {
  width: 50px;
  height: 53px;
  transform: translate(0, -5%);

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    transform: translate(20%, -5%);
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    transform: translate(25%, -5%);
  }
}

.nutrition-program__img--pro {
  width: 67px;
  height: 28px;
  transform: translate(-15%, 50%);

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    transform: translate(-13%, 0);
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    transform: translate(-13%, 50%);
  }
}

.nutrition-program__text {
  font-family: "Arial", sans-serif;
  text-transform: none;
  padding-bottom: 20px;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 50px;
  }
}

.nutrition-program__link {
  display: flex;
  align-items: center;
  padding: 21px 0 20px;
  border-top: 1px solid $color-border;
  text-decoration: none;
  color: $color-text;
  grid-column: 1/-1;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 5px 0 5px;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../img/index/icon-arrow.svg");
    background-repeat: no-repeat;
    margin-left: 15px;
    width: 24px;
    height: 12px;

    @media (min-width: $tablet-width) {
      margin-left: 23px;
    }
  }

  &:hover::after {
    background-image: url("../img/index/icon-arrow-long.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 12px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .icon-arrow {
    width: 32px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1;
    font-size: 20px;
    line-height: 30px;
    border-top: none;
    margin-top: 48px;
  }
}
