.html,
.page {
  overflow-x: hidden;
}

.page {
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
}

.page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  /*   margin: 0;
  padding: 0;
  list-style: none; */
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.mobile-menu {
  background-color: $color-textw;
  border: none;
  order: 3;
  transform: translateY(-8px);
  min-height: 65px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  padding: 0 10px;

  &:hover {
    background-color: $basic-color2;
  }

  &:active {
    background-color: $basic-color2;
    color: transparentize($color-textw, 0.7);
  }
}

.decoration-line {
  display: flex;
  position: relative;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    align-items: center;
  }

  &::after {
    content: "";
    display: block;
    top: 15px;
    height: 2px;
    width: 100vw;
    position: absolute;
    left: calc(100% + 20px);
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      content: "";
      display: block;
      top: 22px;
      height: 2px;
      position: absolute;
      background-color: #68b738;
    }

    &::before {
      width: 100vw;
      right: calc(100% + 40px);
    }

    &::after {
      width: 100vw;
      left: calc(100% + 40px);
    }
  }
}

.plus {
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  margin: 17px auto 37px;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    margin: 17px auto 27px;

    &::before {
      width: 60px;
    }
  }
}

.special-background {
  background-color: $basic-background;

  @media (min-width: $desktop-width) {
    background-color: $color-textw;
  }
}
