@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}

.decoration-line {
  display: flex;
  position: relative;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    align-items: center;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 15px;
    height: 2px;
    width: 100vw;
    position: absolute;
    left: calc(100% + 20px);
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      content: "";
      display: block;
      margin-top: 10px;
      height: 2px;
      background-color: #68b738;
    }

    &::before {
      width: 30px;
      margin-right: 40px;
    }

    &::after {
      width: 100vw;
      position: absolute;
      left: calc(100% + 40px);
    }
  }
}
