
.heading {
  margin: 0 auto;
  color: $color-textw;
  min-height: 302px;
  text-align: center;
}

.heading__container {
  height: 302px;
  background-color: $basic-color;
}

.heading__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  width: 250px;
  margin: 0 auto;
}

.heading__button {
  margin-top: 138px;
  display: block;
  width: 100%;
  height: 40px;
  text-decoration: none;
  line-height: 18px;
  color: $color-textw;
  background-color: $basic-color;
}
