$color-text: #000000;
$color-border: #e6e6e6;
$color-border-fieldset: #d9d9d9;
$color-border-input: #e7e7e7;
$color-border-special: #cdcdcd;
$color-form-border: #bababa;
$color-textw: #ffffff;
$basic-color: #68b738;
$basic-color2: #5eaa2f;
$basic-background: #f2f2f2;
$basic-background-example: #eaeaea;
$color-form-text: #444444;
$color-form-text_dark: #222222;
$color-catalog-border: #ebebeb;
$color-range-background: #dcdcdc;
$color-social-stroke: #666666;

$tablet-width: 768px;
$desktop-width: 1440px;
